@tailwind base;
@tailwind components;
@tailwind utilities;

.jodit-workplace ol,
.jodit-workplace ul,
.jodit-workplace menu {
  list-style: initial;
  list-style-position: inside;
}

.jodit-workplace a {
  color: #075985;
}

input::-webkit-file-upload-button,
input::file-selector-button {
  border: 1px solid rgb(203, 213, 225);
  border-radius: 0.25rem;
  color: currentColor;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
