@tailwind base;
@tailwind components;
@tailwind utilities;

.jodit-workplace ol,
.jodit-workplace ul,
.jodit-workplace menu {
  list-style: initial;
  list-style-position: inside;
}

.jodit-workplace a {
  color: #075985;
}

input::-webkit-file-upload-button,
input::file-selector-button {
  border: 1px solid rgb(203, 213, 225);
  border-radius: 0.25rem;
  color: currentColor;
  font-size: 0.925rem;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

input::-webkit-file-upload-button:hover,
input::file-selector-button:hover {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.no-spin,
.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
