@tailwind base;
@tailwind components;
@tailwind utilities;

.jodit-workplace ol,
.jodit-workplace ul,
.jodit-workplace menu {
   list-style: initial;
   list-style-position: inside;
}

.jodit-workplace a{
   color: #075985;
}