@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-file-upload-button,
input::file-selector-button {
  border: 1px solid rgb(203, 213, 225);
  border-radius: 0.25rem;
  color: currentColor;
  background-color: transparent;
  font-size: 0.925rem;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

input::-webkit-file-upload-button:hover,
input::file-selector-button:hover {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.no-spin,
.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.jodit-workplace ol,
.jodit-workplace ul,
.jodit-workplace menu {
  list-style: initial;
  list-style-position: inside;
}

.jodit-workplace a {
  color: #075985;
}

.jodit-ui-block button {
  background-color: #0c4a6e !important;
}

.dark .jodit,
.dark .jodit-status-bar,
.dark .jodit-toolbar__box,
.dark .jodit-toolbar__box:not(:empty) {
  background-color: #0c4a6e;
  border-color: #075985;
  color: #e2e8f0;
}

.dark .jodit-container:not(.jodit_inline) {
  border-color: #075985;
}

.dark .jodit {
  background-color: #0f172a;
}

.dark .jodit-xpath__item,
.dark .jodit-toolbar-button__trigger,
.dark .jodit-toolbar-button__icon {
  filter: brightness(0) invert(1);
}

.dark .json-inspector * {
  background-color: #0f172a;
}
